body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* for the shuffle button*/
    background-color: #f0f0f0;
    font-family: 'Cascadia Mono';
    font-size: 30px;
}

@keyframes ChangeColor {
    0% { 
        color: rgb(170, 0, 237);
    }
    16%{
        color: rgb(255, 64, 0);
    }
    32% {
        color: rgb(255, 218, 178);
    }
    48% {
        color: rgb(255, 203, 220);
    }
    64%{
        color: rgb(178, 252, 255);
    }
    80%{
        color: rgb(0, 132, 255);
    }
    100%{
        color:  rgb(170, 0, 237);
    }
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 35px;
    animation: ChangeColor 2s ease-in-out infinite; 
    text-shadow: black;
}
  
h3 {
    padding-left: 100px;
    padding-right: 100px;

    font-size: 24px;
}
/* .lineup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 4px;
} */

.lineup {
    display: grid;
    grid-template-columns: repeat(5, 280px); /* 5 columns of 140px each */
    grid-template-rows: repeat(2, 280px);    /* 2 rows of 140px each */
    gap: 6px;                              /* Space between grid items */
    justify-content: center;
    margin: 20px 0;
}
  
.box {
    font-size: 10px;
    width: 210px;
    height: 210px;
    margin: 10px;
    background: white;
    border: 5px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 25px;
}
  
/* .character {
    width: 100%;
    height: auto;
} */

  
.cascadia-mono-1 {
    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.submit{
    margin-top: 50px;
    margin-right: 3.75px;
    width: 125px;
    height: 55px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(255, 213, 227);
    font-family: 'Cascadia Mono';
    border-width: 5px;
    border-color: rgb(170, 0, 237);
    color:rgb(170, 0, 237);
}

.shuffle{
    margin-top: 7.5px;
    width: 437.5px;
    height: 55px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(178, 252, 255);
    font-family: 'Cascadia Mono';
    border-width: 5px;
    border-color: rgb(0, 132, 255);
    color: rgb(0, 132, 255);
}

.reset{
    margin-top: 50px;
    margin-left: 3.75px;
    width: 125px;
    height: 55px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(255, 218, 178);
    font-family: 'Cascadia Mono';
    border-width: 5px;
    border-color: rgb(255, 64, 0); 
    color: rgb(255, 64, 0);
}

.submit:hover {
    background-color: rgb(170, 0, 237);
    color: rgb(255, 203, 220);
    border-color: rgb(255, 203, 220);
}

.shuffle:hover {
    background-color: rgb(0, 132, 255);
    color:  rgb(178, 252, 255);
    border-color:  rgb(178, 252, 255);
}
  
.reset:hover {
    background-color: rgb(255, 64, 0);
    color: rgb(255, 218, 178);
    border-color: rgb(255, 218, 178);
}

/* .box:hover {
    background-image: 90%;
} */